*{
    padding: 0;
    margin: 0;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
body{
    overflow-x: hidden;
}

/* ------Nav Bar ---------*/

#nav-bar{
    background-color: white;
    height: 66px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.2em;
    width: 130px;
    margin-right: 2rem;
}
.logo-image svg{
    margin-top: 10px;
    color:black;
    display: none;
}
.logo-image img{
    margin-top: .6rem;
    width: 6.2rem;
}
.logo-search{
    width: 350px;
}
.logo-search i{
    font-size: 1rem;
    margin-right: .5rem;
}
.input-box{
    border: none;
    font-size: 15px;
    width: 90%;
    height: 2rem;
}

.input-box:focus{   
    outline: none;
}
.selector{
    display: flex;
    font-weight: 400;
    align-items: center;
}
.selector a{
    text-decoration: none;
}
.selector p{
    color: rgb(41, 41, 41);
    margin-left: 1.5rem;
    font-size: 1rem;
    font-family: poppins;
}
.selector p:hover{
    color: #1cab55;
}
.login-button button{
    font-size: 1rem;
    border: none;
    margin-left: 20px;
    font-family: anek bangla;
}
.contact{
    color: #1cab55;
}
.login{
    background-color: #1cab55;
    width: 100px;
    height: 32px;
    border: none;
    color: white;
    border-radius: 5px;
}

@media (min-width:100px ) and (max-width:1100px)  {
    .selector{
        display: none;
    }
    .logo-image svg{
        display: block;
        margin: 0 10px 0 20px;
    }
}

  /*Quick Contact Section */

.quick-contact{
    position: fixed;
    right: 15px;
    bottom: 20px;
    z-index: 9;
}  
.back-button {
    height: 48px;
    width: 52px;
    background-color: rgb(8, 206, 51);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

@media (max-width:770px) {
    .back-button {
    height: 35px;
    width: 38px;
    }
}
/* hero section */

.hero{
    margin-top: 66px;
    background-color: rgb(0, 0, 0);
    background-image: url(/image/images/hero_bg_1.png);
    height: 90vh;
    width: 100vw;
    background-size: 100% 100%;
}
.relative{
    height: 90vh;
    width: 100vw;
    background-image: url(/image//images/hero_bg_2.png);
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.relative .hero-text{
    position: absolute;
    bottom: 210px;
    font-family: poppins;
    text-align: center;
    margin-left: 22%;
}
.relative .hero-text h1{
   font-family: poppins;
   font-size: 68px;
   background: linear-gradient(to right, #ffb25a, #ffcdf3,#9bddff);
   background-clip: text;
   -webkit-text-fill-color: transparent;

}.relative .hero-text p{
    color: white;
    font-size: 22px;
    line-height: 30px;
}
.hero-box{ 
    margin-top: 20%;
   position: absolute;
   display: flex;
   margin-right: 20px;
   font-family: poppins;
}
.hero-box .box{
    height: 174px;
    width: 180px;
    margin-left: 15px;
    border-radius: 48px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
} 
.hero-box .light{
    border: 0.1px solid rgba(255, 255, 255, 0.2);
    background: #1a0f0f;
    box-shadow:inset 0px -3.5px 2px rgba(255,255,255,0.3); 
}

.hero-box .solid{
    border: 1px solid #ffb300;
    box-shadow: inset 0px -5px 2px #ff3d00,inset 0 2px 2px #ffb300; 
    border-bottom: none;
    background: #1a0f0f;
} 
.box img{
    margin-top: 15px;
    height: 65%;
    width: 84%;
}

.hero-box-1{
    display: flex;
    position: absolute;
     bottom: -70px;
    right: 17px;
}
.hero-box-1 .small-box {
    color: white;
    margin-left: 65px;
    position: relative;
    animation: forSmallBox .5s  0s infinite alternate;
}
.hero-box-1 .small-box p{
    position: absolute;
    top: 20px;
    text-align: center;
    line-height: 13px;
    font-size: 13px;
    margin-left: 1.3rem;
    margin-top: -4px;
}
@keyframes forSmallBox{
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(-5px);
    }
}

@media (max-width: 1100px) {

    .hero-box{
        position: static;        /* absolute সরাও */
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .hero-box .box{
        width: 100%;             /* fixed 180px সরাও */
        max-width: 180px;        /* চাইলে এইটা রাখো */
        margin-left: 0;          /* আগের margin remove */
    }

}

/* --------Class Section-------- */
.class{
    background-color: #010101;
    color: white;
    padding-bottom: 5rem;
    width: 100vw;
}
.free-class{
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.free-class button{
    color: white;
    text-align: center;
}
.free-class .free-class-box{
    height: 45px;
    width: 185px;
    background-color: #149353;
    border-radius: 45px;
    margin: 0 1rem 0 1rem;
    font-size: 16px;
    border: none;
    font-weight: 500;
}
.offline-class{
    background-color: #010101;
    align-items: center;
    border: .5px solid rgba(255, 255, 255, 0);
    border-radius: 45px;
    margin: 5% 6% 0 6%;
    padding-bottom: 5%;
    box-shadow: inset 0 0 30px rgba(255, 255, 255, .2);
}
.offline-class h1{
    margin-top: 5%;
    text-align: center;
    background: text;
    background: linear-gradient(to right, #ff5a5a, #ffcdf3,#fff09b);
    background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 40px;
}
.location-name{
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
    margin: 2rem 3rem 2rem 3rem;
}
.location-box{
    height: 107px;
    width: 190px;
    border: .5px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    background-color: rgba(20, 20, 20,.7);
}
.location-name h3{
    font-size: 16px;
    margin-top: .7rem;
}
.location-name p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
.location-name p,h3{
   margin-left: 1rem;
}

.location-box:hover{
    border-color:rgba(255, 255, 255, .5) ;
}

.class-link-div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    align-items: center;
    margin: 0% 3% 3% 3%;
}
.class-link-div .class-link {
    height: 218px;
    width: 161px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 24px inset,
    inset 0px -3px 0px   rgba(255, 255, 255,.3);
     transition: 0.3s ease;
}
.class-link-div .class-link:hover{
    transform: scale(1.05);
}
.class-link-div .dark{
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 24px inset;
    box-shadow: 0 5px 3px rgb(255, 60, 0),0 -1px 5px rgb(255, 217, 0);
    border-bottom: 2px solid rgb(255, 60, 0);
    border-top: 1px solid rgb(255, 217, 0);
}

.class-link-div .class-link img{
    height: 132px;
    width: 132px;
    border-radius: 25px;
    margin: 8% 0 0 9%;
}
.class-link-div .class-link h3{
    font-size: 15px;
    text-align: center;
}
.class-link-div .class-link p{
    font-size: 14px;
    text-align: center;
}
.join-free-class{
    display: flex;
    align-items: center;
    justify-content: center;
}
.join-free{
    display: flex;
    height: 44px;
    width: 320px;
    background-color: #149353;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    font-weight: 400;
}
.join-free p{
    font-size: 16px;
}

/* -----Footer Section------ */
#footer{
    width: 100vw;
    height: 420px;
    background-color:#0c0e14;
}
.footer{
    display: flex;
    margin: 0 4% 1% 4%;
    justify-content: space-between;
    color: white;
    margin: 0 5rem 0 5rem;
    padding-top: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 1rem;
}
.footer .download-app .minute{
    height: 32px;
    width: 116px;
}
.footer  p{
    font-size: 16px;
    margin: .5rem 0 1rem;
    color: #a3a3a3;
}
.footer h3{
    margin-left: -2%;
}
.footer span{
    color: #1cab55;
}
.footer .with-us a{
    color: #1cab55;
}
.footer .company p:hover, .Other p:hover{
    color: #1cab55;
}
.social-platfrom{
    display: flex;
    align-items: center;
    justify-content: left;
}
.social-platfrom .social-box{
    height: 33px;
    width: 33px;
    margin-right: 1.5rem;
}
#footer .copy-right{
    margin-top: 1.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #a3a3a3;
    font-size: 14px;
}